.search-rooms {
  background-color: #fff;
  width: 100%;
  max-width: 1140px;
  border-radius: 3px;
  padding: 20px 15px 25px;
  //padding: 20px 15px;

  span {
    &.header {
      font-weight: 600;
      text-align: center;
      font-size: 16px;
      color: #36454f;
      text-transform: uppercase;
    }
  }

  button {
    width: 100%;
    padding: 11px;
    font-size: 14px;
    font-weight: 600;
  }
}

.col {
  margin-top: 29px;
}

.dropdown-list {
  position: relative;
  .dropdown-list-header {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    padding: 11px;
    font-size: 14px;
    span {
      font-size: 14px;
      color: #978a8a;
    }
  }

  .dropdown-items {
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s ease-in-out all;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
    li {
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
        color: #f08000;
      }

      &.selected {
        background-color: #f5f5f5;
        color: #f08000;
      }
    }
  }

  &.active {
    .dropdown-items {
      opacity: 1 !important;
    }
  }
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    input {
      border: 2px solid #f5f5f5;
      border-radius: 3px;
      padding: 8px;
      margin-top: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 14px;
      color: #978a8a;
      padding: 11px;
      font-size: 14px;
    }
  }
}
