.search-rooms {
    background-color: #fff;
    width: 100%;
    max-width: 1320px;
    border-radius: 3px;
    padding: 20px 15px;
}

.dropdown-list {
    position: relative;
    .dropdown-list-header {
        border: 2px solid #f5f5f5;
        border-radius: 3px;
        padding: 8px;
        margin-top: 15px;
        cursor: pointer;
    }

    .dropdown-items {
        position: absolute;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: .3s ease-in-out all;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, .3);
        li {
            padding: 10px 20px;
            cursor: pointer;
            
            &:hover {
                background-color: #f5f5f5;
                color: #F08000;
            }

            &.selected {
                background-color: #f5f5f5;
                color: #F08000;
            }
        }
    }

    &.active {
        .dropdown-items {
            opacity: 1 !important;
        }
    }
}

.react-datepicker-wrapper {
    .react-datepicker__input-container {
        input {
            border: 2px solid #f5f5f5;
            border-radius: 3px;
            padding: 8px;
            margin-top: 15px;
            cursor: pointer;
            width: 100%;
        }
    }
}

