.hero {
  width: 100%;
  min-height: 500px;
  background-color: #f5f5f5;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .hero-content {
    text-align: center;
    margin-bottom: 60px;
  }
}
