.newsletter {
  width: 100%;
  min-height: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;

  .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 128, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .form-wrapper {
    width: 54%;
    margin: 0 auto;

    .aside {
      color: #fff;
      &.cta {
        p {
          margin: 0;
          font-size: 22px;
        }

        h3 {
          text-transform: uppercase;
          font-size: 36px;
        }
      }

      &.form {
        display: flex;
        height: 60px;
        min-width: 212px !important;
        margin-top: 10px;

        input,
        button {
          border: 0;
        }

        input {
          height: 100%;
          padding: 10px;
          padding-left: 25px;
          width: 100%;
          font-size: 14px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        button {
          background-color: #f08000;
          color: #fff;
          font-size: 14px;
          padding: 10px 15px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
