/* Imports */

@import "./components/navigation/navigation.scss";
@import "./components/button/button.scss";
@import "./components/hero/hero.scss";
@import "./components/overlay/overlay.scss";
@import "./components/forms/rooms/SearchRooms.scss";
@import "./components/section/section.scss";
@import "./components/rooms/room/room.scss";
@import "./components/footer/footer.scss";
@import "./components/testimonials/testimonial/testimonial.scss";

/*** Globals ***/


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 0;

    margin: 0;
    list-style: none;
    display: flex;
}

section {
    padding-top: 60px;
    padding-bottom: 100px;

    .section-title {
        font-weight: 600;
        text-align: center;
        font-size: 36px;
        color: #36454f;
    }


    &.testimonials {
        padding-top: 120px;
        padding-bottom: 160px;
    }
}

.bg-grey {
    background-color: #f5f5f5;
}

